@import "../dist/webkit-sassui-mask.scss";
*{margin:0; padding:0}

.abs-center{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.c-f{
  color: #fff;
}

.f12{
  font-size: 12px;
}

.box{
  width:320px;
  height:320px;
  font-size: 14px;
  >img{
    width:100%;
    height: 100%;
  }
}

.test-webkit-sassui-mask{
  // border:1px solid red;
}
